{% extends "admin/admin_layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block extra_head_block %}
{% endblock %}


{% block main_content %}
    <div class="container">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
            <h3>{{ _("Admin") }}</h3>
            <ol>
                <li>{{ _("Photos") }}</li>
                <li>{{ _("Upload") }}</li>
                <li>{{ _("Settings") }}</li>
                <li>{{ _("Users") }}</li>
            </ol>
        </div>
    </div> <!-- /container -->
{% endblock %}


{% block extra_scripts %} 
{% endblock %}
