<!-- two parameters required: 
  pagination: pagination object, 
  page: current page number start from 1 -->
{% macro render_pagination(pagination) %}
  <div class="pagination pull-right">
  <ul>
  {% if pagination.has_prev %}
    <li><a href="{{ url_for_other_page(pagination.page - 1) }}">&laquo; Prev</a></li>
  {% endif %}
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
      {% else %}
        <li><span><strong>{{ page }}</strong></span></li>
      {% endif %}
    {% else %}
      <li><span class=ellipsis>&hellip;</span></li>
    {% endif %}
  {% endfor %}
  {% if pagination.has_next %}
    <li><a href="{{ url_for_other_page(pagination.page + 1) }}">Next &raquo;</a></li>
  {% endif %}
  </ul>
  </div>
  <div style="clear:both"></div>
{% endmacro %}
