{% extends "admin/admin_layout.html" %}

{% from 'admin/pagination.html' import render_pagination %}

{% block title %}
  {{ _("List of Photos") }}
{% endblock %}

{% block extra_head_block %}
<link rel="stylesheet" href="/static/big/css/bootstrap-image-gallery.min.css">
<link href="/static/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
{% endblock %}


{% block main_content %}

<div class="alert alert-info" style="display:none">
  <a class="close" data-dismiss="alert">&times;</a>
  <strong><a id='alert-info-title' style="text-transform: uppercase;">status</a></strong>:<BR>
  <a id='alert-info-message'>message</a>
</div>

<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th width="100px"></th>
      <th>{{_("Filename")}}</th>
      <th>{{_("Headline")}}</th>
      <th>{{_("Text")}}</th>
      <th width="80px" class="text-center">{{_("Start date")}}</th>
      <th width="50px" class="text-center">{{_("Visibility")}}</th>
      <th width="50px" class="text-center">{{_("Delete")}}</th>
    </tr>
  </thead>
  <tbody data-toggle="modal-gallery" data-target="#modal-gallery">

{% for photo in photos %}
    <tr id="{{ photo.id }}">
      <td><A href="{{ url_for("photos.show_photo", filename=photo.filename) }}" data-gallery="gallery" title="{{ photo.filename }}"><img src="{{ url_for("photos.show_thumb", filename=photo.filename) }}" class="thumb" title="{{ photo.filename }}"></A></td>
      <td>{{ photo.filename }}</td>
      <td><a href="#" id="headline" class="headline" data-type="text" data-pk="{{ photo.id }}" data-url="{{ url_for("photos.update") }}" data-original-title="{{_("Enter headline:")}}">{{ photo.headline }}</a></td>
      <td><a href="#" id="text" class="text" data-type="textarea" data-pk="{{ photo.id }}" data-url="{{ url_for("photos.update") }}" data-original-title="{{_("Enter text:")}}">{{ photo.photo_text  }}</a></td>
      <td class="text-center"><a href="#" id="start_date" class="start_date" data-type="combodate"  data-format="YYYY-MM-DD" data-viewformat="YYYY-MM-DD" data-template="YYYY-MM-DD" data-pk="{{ photo.id }}" data-value="{{ photo.start_date }}" data-url="{{ url_for("photos.update") }}" data-original-title="{{_("Select start date:")}}"></a></td>
      <td class="text-center"><a href="#" id="visibility" class="visibility" data-type="select" data-pk="{{ photo.id }}" data-value="{{ photo.visibility }}" data-url="{{ url_for("photos.update") }}" data-original-title="{{_("Select visibility:")}}"></a></td>
      <td class="text-center"><a href="#"><i id="{{ photo.id }}" class="icon-trash photo-delete"></i></a></td>
    </tr>
{% endfor %}

  </tbody>
</table>
{{ render_pagination(pagination) }}
<br/>

<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>{{_("Download")}}</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>{{_("Slideshow")}}</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>{{_("Previous")}}</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>{{_("Next")}}</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script src="/static/big/js/load-image.js"></script>
<script src="/static/big/js/bootstrap-image-gallery.min.js"></script>
<script src="/static/bootstrap-editable/js/moment.min.js"></script>
<script src="/static/bootstrap-editable/js/bootstrap-editable.js"></script>
<script>
  // the following variable will be used by photos.js
  var photo_update_url = "{{ url_for("photos.update") }}";
</script>
<script src="/static/js/photos.js"></script>
{% endblock %}